* { font-family: verdana }
.outer { width: 640px; margin-left: auto; margin-right:auto;}
.clearfix {clear: both; height: 0px }
h1 { font-size: 160%; }
h2 { font-size: 140%; }

p {}
.question { margin-bottom: 0; padding-bottom: 0}
.answer { margin-top: 0; padding-top: 0.5em}
.content_header { font-weight: bold;}
p.list{margin-bottom: 0; padding-bottom: 0 }
ol, ul { margin-top: 0; padding-top: 0; }
.list_el { margin-top: 0; padding-top: 0.5em}
.image { display: block; text-decoration: none; color: #eeeeee } 
