/* LAYOUT */

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: inherit;
  transition: text-decoration-color;
  transition-duration: 500ms;

  &:hover {
    color: var(--link-color);
    text-decoration: none;
  }
}

@include color-mode(dark) {
  footer {
    & a {
      color: #5ebf93;
    }
  }
}

audio {
  display: block;
  width: 100%;
}

figure {
  text-align: center;
  margin: 3rem 0;
  & img {
    margin: 0;
    width: 80%;
    @media only screen and (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }
}
figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  & h4 {
    margin-top: 1.5rem;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
img.fit {
  max-height: 90vb;
}

h2, h3, h4 {
  margin-top: 3rem;
}

input {
  &.search-input {
    padding: 1rem;
    margin-block: 1rem;
  }

}

code, li > code {
  padding: 0.75rem;
  margin-top: 1rem;
}

.flex-spacer {
  // used in flexbox displays to help align things to end
  flex: auto;
}

.max-content-width {
  margin: auto;
  max-width: $max-screen-width-size;
}

.header {
  position: sticky;
  background: var(--body-background-color);
  top: 0;

  @media only screen and (max-width: $mobile-breakpoint) {
      top: unset;
      bottom: 0;
      position: fixed;   
  }
}




header:after, footer:before {
  visibility: hidden !important;
}

.navbar {
  max-width: $max-screen-width-size;
  padding: 0.5rem;
  box-shadow: 0 0 4px grey;

  a.active {
    background-color: unset;
  }

  .app-logo img {
    width: 7.5rem;
    height: auto;
  }

  .donate-button a {
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 13px 0px rgba(0, 148, 247, 0.6);
    &:hover {
      box-shadow: 0px 0px 30px 30px rgba(0, 148, 247, 0.2);
    }
  }


  .navbar-collapse .nav-item {
    margin-bottom: 0;
    border-bottom: 2px solid transparent;
    margin: auto 0.5rem;
    transition: all;
    transition-duration: 500ms;

    &:not(.donate-button) {

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        border-bottom: 2px solid rgba(var(--navbar-link-rgb), 0.4);
      }
    }

    &.active {
      border-bottom: 2px solid var(--navbar-link-color);
      a.nav-link {
        span {
          opacity: 1;
        }
      }
    }

    a.nav-link {
      height: 40px;
      line-height: 125%;
      display: flex;
      align-items: center;

      span {
        opacity: 0.75;
      }
    }

    a:hover.nav-link {
      span {
        color: var(--navbar-link-color);
        opacity: 1;
      }
    }
    .active .nav-link {
      span {
        opacity: 1;
      }
    }

    a.button {
      color: white;
    }
  }
}

.navbar-brand {
  background-color: unset !important;
}

.inline {
  display: inline-block;
}

.logo {
  font-size: 1.8rem;
  color: white;
}

.tabbed-section-container {
  padding: 0.5rem;
  background: #506782;
}
.tabbed-section-container a {
  color: #d9d9d9;
  text-decoration: none;
 }
 .tabbed-section-container a:hover {
  color: white;
 }

.container-padding-header {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: $max-screen-width-size;
  margin: auto;
}

.container-padding {
  padding: 2rem;
  max-width: $max-screen-width-size;
  @media only screen and (min-width: 341px) {
    margin: auto;
  }

  &.credits {
    padding: 0.5rem;
    text-align: right;
  }

  @media only screen and (max-width: 340px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &.credits {
      padding-left: 0;
      padding-right: 0;
      xtext-align: right;
    }
  }

}

.kexi-logo {
  content:url("/images/kexi-logo-light.png");
}

@include color-mode(dark) {
  .kexi-logo {
    content:url("/images/kexi-logo-dark.png");
  }
}

.dark {
  background: var(--body-background-inverse-color);
  h1, h2, h3, li, p, div, em, span, a  {
    color: var(--body-background-color);
  }
}
h1.dark, .dark h2, .dark h3, .dark li, .dark p, .dark div, .dark em, .dark span, .dark a  {
  color: var(--body-background-color);
}

/* LISTS */

.thumbnail-container {
  width: 15rem;
  height: 15rem;
  box-shadow: 3px 3px 3px #868686;
  margin: auto;

  @media only screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    height: 230px;
    display: block;
    margin-bottom: 1rem;
  }
}

.post {
  margin: 0 19%;
  margin-top: 5rem;
  max-width: $max-screen-width-size;
  strong {
    font-family: var(--thin-font);
    font-size: 150%;
    font-weight: normal;
  }
  img.post-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  .button::after {
    width: 0 !important;
    height: 0 !important;
    content: '' !important;
    background-image: none !important;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    margin: 0 8%;
    margin-top: 5rem;
  }
}

.post, .footer-section, .hero-credit {
  a[href^='http']:not([href^='http://localhost:']):not([href^='https://kexi-project.org']) {
    padding-right: .65rem;
    white-space:nowrap;

    &::after {
      position: absolute;
      content: '⬈';
      font-size:86%;
      display: inline-block;
      opacity: 0.6;
    }
  }

  a.button {
    padding-right: 1.5rem !important;
  }
}

.posts-listing {
  display: grid;
  column-gap: 4%;
  margin: 0%;

  @media only screen and (max-width: $mobile-breakpoint) {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1%;
  }

  a {
    color: black;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }
}

.post-snippet {
  padding: 2rem;

  border-radius: 3px;
  margin-bottom: 1rem;

  & h2 {
    margin-bottom: 0.25rem;
    margin-top: 0;
  }
  
  & a {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 1rem;
 }
 
}



.card {
  text-decoration: none;

  & article {
    transition: all 0.2s ease-in;

    &:hover {
      background: #f2f3f3;
    }
    &:hover h2 {
      text-decoration: underline;
    }
  }
  
}


.preview {
  display: grid;
  column-gap: 25px;
}
@media only screen and (max-width: $mobile-breakpoint) {
  .preview {
    display: block;
  }

}


.section {
  grid-row: 1 / span 2;
}

a.post-item {
  padding: 1rem;
  transition: all 0.2s linear;
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 100%;

  & div {
    margin-bottom: 0.5rem;
  }

  &:hover .title {
    text-decoration: underline;
  }

  &:hover {
    background: var(--body-background-color-alternate);
    border-radius: 3px;
  }

  h3 {
    margin-top: 0;
  }
  div.post-item-date {
    font-size: 90%;
  }
  div.post-item-content {
    margin-bottom: 0;
  }
}

input.search-input {
  padding: 0.75rem;
  background: #80808017;
}


/* button style (which is in an anchor tag for a link) */
a.button, .button, .primary-button, a.primary-button, input.primary-button {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #39a3f2 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #39a3f2 1%, #0078f9 100%);
  text-align: center;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.2em;
  border: 0;
  color: white;
  text-transform: uppercase;
  box-shadow: 3px 5px 10px #04060766;
}

@include color-mode(dark) {
  #slim-hero, :not(.downloadable).button, .primary-button, .thumbnail-container {
    box-shadow: none;
  }
}

a.button:hover,
.primary-button:hover {
  background: -webkit-linear-gradient(top, #6bb9f5 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #6bb9f5 1%, #0078f9 100%);
  color: white;
}


a.button.ghost, .ghost {
  background: none;
  border: 2px solid var(--accent-color);
  box-shadow: none;
  color: var(--accent-color) !important;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.4s ease;
  font-size: 80%;
  transform: scale(1.0, 1.0);
  font-weight: 600;

  &:hover {
    border: 2px solid rgb(180, 240, 255);
    background: var(--body-background-color-alternate);
  }
}

// shop-item shortcode
.shop-price {
  font-weight: bold;
  margin: 1rem 0;
}

// support-kexi-callout shortcode
.support-kexi-callout {
  margin: 4rem 0 0 0;

  .illustration {
    width: 5rem;
    height: 5rem;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .icon {
    fill: var(--main-text-color);
    width: 3.5rem;
  }
  h3 {
    margin-top: 1rem;
  }
  .col-md-10 {
    padding-left: 1rem;
  }
  .ghost.button {
    margin-top: 1rem;
  }
}

a.circle-button img {
  filter: brightness(var(--image-brightness-filter));
}

a:hover.circle-button img {
  filter: brightness(var(--image-brightness-filter-hover));
}


// interview_item partial
.interview-img {
  border: 1px solid #cbcbcb;
  background-color: #e8e8eb;
  background-size: cover;
  height: 13rem;
  margin-bottom: 1rem;
}


/* These two classes help keep youtube video a 16:9 aspect ratio 
   The youtube embed code needs a wrapper. This code is used in the features template
*/
.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.slim-her-title-container {
  margin: 0 17%;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin: 0;
  }
}

#slim-hero {
  width: 100%;
  height: 27rem;
  margin: auto;
  max-width: $max-screen-width-size;
  position: relative;

  @media only screen and (max-width: $mobile-breakpoint) {
    height: 20rem;
  }

  &::after {
    content: '';
    background: var(--body-background-inverse-color);
    position: absolute;
    z-index: -1;
    inset: 0;

    transform: skewY(-1.5deg);
  }
}

.dark.no-box-shadow {
  box-shadow: none;
}

.slim-hero-title {
  top: 3rem;
  position: relative;
  text-align: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 0.7rem;
  }

  h1 {
    padding: 1.5rem 2rem;
    display: inline-flex;
    color: var(--light-color);
    background: var(--kexi-teal-color);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .9);
    border-radius: var(--container-border-radius);
  }
}

.slim-hero-credit-container {
  margin: 0 17%; 
  padding: 0.5rem;
}
.hero-credit{
  color: grey;
  text-align: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    float: none;
    text-align: center;
  }


  a{
    color: grey;
    --link-color: grey;

    &:hover {
      text-decoration: none;
    }

  }

}


.full-width-panel {
  padding: 4rem 1rem;
  text-align: center;
  max-width: $max-screen-width-size;
  margin: auto;

  & h2 {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
    xpadding: 1rem 0 1rem 0;
  }

  & span {
    max-width: 45%;
    display: inline-block;
  }

  & p {
    margin-bottom: 1.5rem;
  }
}

.hero-credits {
  background: var(--body-background-inverse-color);
  padding: 0.5rem; 
  max-width: $max-screen-width-size;
  margin: auto;

  & div, & a{
    color: var(--body-background-color-alternate);
    --link-color: var(--body-background-color-alternate);
  }

  & img {
    height: 20px;
  }
}


.social-media .grow-container {
  width: 2rem;
  display: inline-block;
}

.social-media a {
  text-decoration: none;

	color: #ccc;
	display: inline-block;
  border-radius: 25%;
	transition: all 0.2s ease;

  &:hover {
    background: var(--social-accent-color);
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
  }
}


.rss-icon {
  width: 20px;
  position: relative;
  top: -0.5rem;

  &:hover {
    opacity: 0.8;
  }
}

@keyframes circle-anim{
	0% {
		
	}
	
	90%{
		padding: 0.35em;
		margin: -0.35em; 
	}
	
	100%{
		padding: 0.25em;
		margin: -0.25em; 
	}
}

// Shop Page

.shop-item {
  width: 100%; 
  height: 100%; 

  @media only screen and (max-width: $mobile-breakpoint) {
    height: 10rem; 
    margin-bottom: 1rem;  
  }
}
// Adds a slight hover effect to KDE logo (homepage)
.home-kdelogo:hover {
  filter: brightness(180%);
  transition: all 0.2s ease;
}

a.home-kdelogo {
  text-decoration: none;
}

// navigation search area popup
.navbar-expand-lg {
  .navbar-nav .dropdown-menu {
      position: absolute;
      padding: 0;
      right: 0;
      border: none;
      box-shadow: 0px 0px 9px #00000036;
  }
}

.sponsor-item
{
  margin: 0.5rem;
  display: inline-flex;
  border: 1px solid #d9d9d9;
  padding: 1.5rem;
  border-radius: 3px;
  row-gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 47%;
  min-height: 340px;
  vertical-align: text-top;
 
  .image-container {
    display: flex;
    height: 110px;
    @media only screen and (max-width: $mobile-breakpoint) {
      height: 70px;
    }
  }

  & label {
    flex: 1;
  }

  img {
    width: auto;
    max-height: 160px;
    margin: auto
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    display: flex;
    width: 100%;
    max-width: unset;
    min-height: 280px;
  }
}

em {
  font-style: italic
}

.nowrap {
  white-space: nowrap;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 90%;
  color: var(--main-text-color);
  opacity: .5;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--main-text-color-025);
}
.separator:not(:empty)::before {
  margin-right: .25em;
}
.separator:not(:empty)::after {
  margin-left: .25em;
}

.light-color {
  color: var(--main-text-color);
  opacity: .5;
}

html {
  scroll-padding-top: 5rem; // prevent anchor links from scrolling behind a fixed header
  @media only screen and (max-width: $mobile-breakpoint) {
    scroll-padding-top: 1rem; // no header
  }
}

.release-history {
  h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    @media only screen and (max-width: $mobile-breakpoint) {
      margin-bottom: 1rem;
    }
  }
  pre {
    display: inline;
    color: var(--body-background-color);
    background: var(--accent-color);
    white-space: pre;
    unicode-bidi: embed;
    font-family: monospace;
    line-height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    margin: 0 0.3rem 0 0;
    vertical-align:middle;
  }
  li {
    list-style: none;
  }
  ul {
    text-indent: -3.7rem; /* -0.3 of margin */
    padding-left: 7.5rem;
    @media only screen and (max-width: $mobile-breakpoint) {
      text-indent:  0rem;
      padding-left: 0rem;
    }
  }
  ::after {
    text-indent: 0; /* for ext link */
  }
}
