@import "variables";

a img.icon {
  height: 25px;
}

.all-installer-options {
  div {
    width: 50%;
    a {
      display: inline;
      width: 50%;
    }
      text-align: left;
  }
}

.download-hero-image {
  height: 35rem;
  width: 100%;
  display: block;
  text-align: center;
  background: url(/images/hero-image-2.webp);
  background-size: cover;
  background-position: center;
  max-width: $max-screen-width-size;
  margin: auto;
  margin-bottom: 0.5rem;
}

.download-hero-content {
  width: 40%;
  background: var(--kexi-teal-color);
  padding: 1rem 2rem;
  display: inline-block;
  position: relative;
  top: 7rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .90);
  border-radius: var(--container-border-radius);

  *, *:hover {
    color: var(--light-color);
    fill: var(--light-color);
  }

  .separator:before, .separator:after {
    border-bottom-color: var(--light-color-05);
  }

  h1 {
    margin: 0.25rem 0 0.9rem 0;
  }

  a.button {
    margin-bottom: 0.5rem;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    top: 4rem;
    width: 90%;
  }
  @media only screen and (min-width: $mobile-breakpoint+1) and (max-width: $mobile-breakpoint950) {
    top: 6rem;
    width: 50%;
  }

  .separator {
    margin-top: 1rem;
  }
}

div.main-download-button {
  display: none;
  margin-left: 24px;
  a {
    img {
      margin-left:-10px;
    }
  }
}

a.download-signature {
  display:inline;
  :not(:hover) {
    opacity: 0.8;
  }
  :hover {
    opacity: 1;
  }
}

a.download-signature svg {
  margin-bottom: 0.2rem;
  fill: var(--link-color);
}
