@import "hugo:vars";
@import "bootstrap/mixins";

@import "variables";

.row img {
  width: 100%;
  padding-top: 0;
}

.row h3 {
  margin-top: 0.5em;
}

.row.spacer {
  margin-top: 3rem;
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-top: 2rem;
  }
}

.icon {
  width: 10%;
  fill: var(--body-background-color);
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 30%;
  }
}

div.choose-your-data-scale div span {
  text-align: center;
  font-size:2rem;
  font-weight:lighter;
  color: var(--body-background-color);
  width:100%;
  display: inline-block;
}

div.choose-your-data-scale div span svg {
  width: 5%;
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 10%;
  }
}
div.choose-your-data-scale div {
  @media only screen and (max-width: $mobile-breakpoint) {
    padding-bottom: 0;
  }
}

div.feature-msaccess div h2 {
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-top:2rem
  }
}
div.feature-msaccess div span {
  text-align: center;
  font-weight:lighter;
  color: var(--main-text-color);
  width:100%;
  display: inline-block;
}
div.feature-msaccess div span span.font {
  font-size:2rem;
}
div.feature-msaccess div span svg {
  width: 5%;
  fill: var(--main-text-color);
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 10%;
  }
}
div.feature-msaccess div span a {
  display:inline-block;
  margin-top:2rem;
  margin-bottom:2rem;
  width:66.6%;
  @media only screen and (max-width: $mobile-breakpoint) {
    width:120%;
  }
}
div.feature-msaccess div span p.feature-msaccess-description {
  width:45%;
  text-align:start;
  display:inline-block;
  @media only screen and (max-width: $mobile-breakpoint) {
    width:80%;
  }
}
div.feature-msaccess {
  margin-top:0;
  padding-bottom: 2rem;
  clear: both;
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-bottom: 2rem;
  }
}

div.feature-data-migration div h2 {
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-top:2rem
  }
}
div.feature-data-migration div span {
  text-align: center;
  font-weight:lighter;
  color: var(--body-background-color);
  width:100%;
  display: inline-block;
}
div.feature-data-migration div span span.font {
  font-size:2rem;
}
div.feature-data-migration div span span svg {
  width: 5%;
  fill: var(--body-background-color);
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 10%;
  }
}
div.feature-data-migration div span span.csv a {
  display: inline-block;
  position: relative;
  width: 65%;
  margin-top: 2rem;
  text-align: middle;
  @media only screen and (max-width: $mobile-breakpoint) {
    width:120%;
  }
}
div.feature-data-migration div span span.csv a img {
  width: 100%;
  z-index: 1;
}
div.feature-data-migration div span span.csv svg {
  width: 20%;
  opacity: 0.3;
  z-index: 0;
  display: block;
  position: absolute;
  padding-top: 10.5%;
  left: 50%;
  transform: translate(-50%, 50%);
  fill: var(--body-background-color);
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 32%;
    padding-top: 28%;
  }
}
div.feature-data-migration div span span.csv svg.bottom {
  width: 80%;
  padding-top: 0px;
  margin-top: -39%;
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    padding-top: 0px;
    margin-top: -55%;
  }
}
div.feature-data-migration div span div.feature-csv-import {
  width:45%;
  text-align:start;
  display: inline-block;
  z-index: 1;
  margin-top: 7rem;
  margin-bottom: 6rem;
  @media only screen and (max-width: $mobile-breakpoint) {
    width:80%;
    margin-bottom: 5rem;
  }
}
div.feature-data-migration {
  margin-top: 0;
  padding-bottom: 2rem;
  clear: both;
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-bottom: 2rem;
  }
}

p.db-column {
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-bottom:0;
  }
}
p.db-column span {
  text-align: center;
  width:100%;
  display: inline-block;
  position:relative;
}
p.db-column span svg {
  margin: -3rem 0 2rem 0;
  fill: var(--body-background-color);
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-top: -4.5rem;
    margin-bottom: 1rem;
  }
}
div.feature-section.db-column {
  @media only screen and (max-width: $mobile-breakpoint) {
    padding-bottom: 1rem;
  }
}

p.mdb-column span svg {
  text-align: center;
  fill: var(--main-text-color);
}

p.infinity {
  text-align: center;
}

p.infinity svg {
  fill: var(--main-text-color);
  width:20%;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

div.all-of-this-for-free div h2 {
  text-align: center;
  @media only screen and (max-width: $mobile-breakpoint) {
    padding-top: 1em;
  }
}

div.all-of-this-for-free {
  padding-bottom: 1em;
}

div.all-of-this-for-free div.download {
  @media only screen and (max-width: $mobile-breakpoint) {
    text-align: center;
    padding-bottom: 1em;
  }
}

div.all-of-this-for-free div.license {
  @media only screen and (max-width: $mobile-breakpoint) {
    text-align: center;
  }
}

div.all-of-this-for-free div.license div {
  padding: 1rem 0 1rem 1.5rem;
  float: right;
  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 1rem 0 0 0;
    float: none;
  }
}

div.all-of-this-for-free div p.description, div.all-of-this-for-free div h2 {
  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 0 3rem 0 3rem;
  }
}
div.all-of-this-for-free div h2 {
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-top: 1rem;
  }
}

.features-homepage-image {
  height: 30rem;
  width: 100%;
  display: block;
  background: url(/images/hero-image-3.webp);
  background-size: cover;
  background-position: center top;
  max-width: $max-screen-width-size;
  margin: auto;
  margin-bottom: 0.5rem;
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 120%;
  }
}

.clean-interface-image {
  display: inline;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0.5rem;
  max-width: 100%;
  content: url("/images/pages/kexi-3.0-table-view_crop.webp");
  @media only screen and (max-width: $mobile-breakpoint) {
    content: url("/images/pages/kexi-3.0-table-view_crop_mobile.webp");
  }
}

@include color-mode(dark) {
  .features-homepage-image {
    box-shadow: none;
  }
}

div.container-padding h2 {
  margin-top:1rem;
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-top:0;
  }
}

#main div.container-padding {
  padding-bottom: 0;
}

#main div.container-padding.top-1 {
  padding: 1rem;
}

ul.intuitive-interface {
  padding-top:1rem;
}

div.feature-section {
  padding: 0 2rem 3rem 2rem;
  @media only screen and (max-width: $mobile-breakpoint) {
    padding-bottom: 2rem;
  }
}

div.feature-section p span svg {
  @media only screen and (max-width: $mobile-breakpoint) {
    width: 50%;
    margin-top: -1rem;
  }
}

.productivity-section .box {
  margin: 1rem;
  border: 2px solid var(--body-background-color-alternate);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  min-height: 20rem;

  img {
    width: auto;
    display: inline-block;
    padding: 0;
    position: relative;
    top: -5px;
  }

  h4 {
    display: inline-block;
    margin-top: 0;
  }
}

.inverted-divider {
  color: var(--body-background-color); 
}
