{{ define "main" }}
{{ $release := .Site.Data.releases.latest }}
<div class="download-hero-image">
        <span class="download-hero-content">
            <h1>{{ i18n "download-kexi" }} {{ $release.version }}</h1>
            {{ $releaseDate := partial "fn/i18n_time" (dict "time" (time $release.date) "format" (i18n "date-format")) }}
            <p class="light-color" style="line-height: 20%;margin-top:1rem;">{{ i18n "released-on" }}{{ $releaseDate }}</p>
            <p style="line-height: 20%;"><a href="{{ $release.release_notes_url }}">{{ i18n "release-notes" }}</a><span class="light-color"> | </span><a href="{{ relLangURL "/release-history" }}">{{ i18n "all-releases" }}</a>
            <div id="windows-download" class="main-download-button">
                <a href="{{ $release.windows_url }}" class="button downloadable">
                    <img src="images/download-icon-windows.png" class="icon"/> {{ i18n "windows-installer" }}
                </a> {{ partial "sig.html" (dict "context" . "url" $release.windows_url) }}
            </div>
            <div id="macOS-download" class="main-download-button">
                <a href="{{ $release.mac_url }}" class="button downloadable">
                    <img src="images/download-icon-osx.png" class="icon" /> {{ i18n "mac-installer" }}
                </a> {{ partial "sig.html" (dict "context" . "url" $release.mac_url) }}
            </div>
            <div id="linux-download" class="main-download-button">
                <a href="{{ $release.tarball_url }}" class="button downloadable">
                    <img src="images/download-icon-linux.png" class="icon"/> {{ i18n "source-code" }}
                </a> {{ partial "sig.html" (dict "context" . "url" $release.tarball_url) }}
                <!-- a href="{{ $release.appimage_url }}" class="button downloadable">
                    <img src="images/download-icon-linux.png" class="icon" /> {{ i18n "linux-appimage" }}
                </a>{{ partial "sig.html" (dict "context" . "url" $release.appimage_url) }} -->

                <!-- p style="margin-top: 1rem">
                    <strong>{{ i18n "flatpak" }}</strong> &mdash;
                    <a href="https://flathub.org/apps/details/...." target="_blank">{{ i18n "hosted-on-flathub" }}</a> {{ i18n "maintained-by-community" }}
                </p -->

                <!-- p>
                    <strong>{{ i18n "snap" }}</strong> &mdash;
                    <a href="https://snapcraft.io/...." target="_blank">{{ i18n "hosted-on-snapcraft" }}</a> {{ i18n "maintained-by-community" }}
                </p -->
            </div>

            <span id="ios-download-information" style="display:none">
                <p>
                    <img
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3C/svg%3E"
                        data-src=images/pages/warning-icon.png height="20" width="20">
                        {{ i18n "iPadsiOSNotSupported" }}
                </p>
            </span>

            <span id="android-download-information" style="display:none">
                <a href="https://play.google.com/store/apps/details?id=org....."
                    class="button download-trigger piwik_download" target="_blank" style="display:inline-block; margin-bottom: 0.5em;">
                <img class="lazy" height="30" width="30"
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3E%3C/svg%3E"
                    data-src="images/play-store.png">
                    Google Play Store
                </a>
                <a href="{{ $release.android_apk_builds_url }}" target="_blank" style="display: block;">
                    {{ i18n "see-android-apk-builds" }}
                </a>
            </span>

            <div class="separator">{{ i18n "other-downloads" }}</div>

            <div class="d-flex flex-wrap all-installer-options">
                <div id="windows-download-other" class="downloadable p-2"><a href="{{ $release.windows_url }}" style="display:inline">{{ i18n "windows-installer" }}</a>{{ partial "sig.html" (dict "context" . "url" $release.windows_url) }}
                </div>
                <!-- TODO a href="{{ $release.windows_portable_url }}" class="downloadable p-2">{{ i18n "windows-portable" }}</a -->

                <!-- TODO a id="macOS-download-other" href="{{ $release.mac_url }}" class="downloadable p-2">{{ i18n "mac-installer" }}</a -->
                <!-- div id="linux-download-other" class="downloadable p-2"><a href="{{ $release.appimage_url }}">{{ i18n "linux-appimage" }}</a></div -->
                <div id="linux-download-other" class="downloadable p-2"><a href="{{ $release.tarball_url }}" style="display:inline">{{ i18n "source-code" }}</a>{{ partial "sig.html" (dict "context" . "url" $release.tarball_url) }}
                </div>
            </div>
        </span>
</div>

<div class="container-padding">
    <div class="row">
        <div class="col-md-6">
            <h2> {{ i18n "system-requirements" }} </h2>
            <ul>
                <li><strong>{{ i18n "operating-system" }}{{ i18n "system-requirements-colon" }}</strong>{{ i18n "operating-system-description" }}</li>
                <li><strong>{{ i18n "processor" }}{{ i18n "system-requirements-colon" }}</strong>{{ i18n "processor-description" }}</li>
                <li><strong>{{ i18n "ram" }}{{ i18n "system-requirements-colon" }}</strong>{{ i18n "ram-description" }}</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>{{ i18n "source-code" }}</h2>
            <p>{{ i18n "source-code-description" }}</p>
            <a href="{{ $release.tarballs_url }}" class="button ghost" target="_blank">{{ i18n "tarballs" }}</a>
            <a href="https://invent.kde.org/office/kexi" class="button ghost" target="_blank">{{ i18n "kde-repository" }}</a>
        </div>
    </div>

    <!-- div class="row">
        <div class="col-md-6">
            <h2>{{ i18n "download-older-versions" }}</h2>
            <p>{{ i18n "download-older-versions-description" }}</p>

            <a href="https://download.kde.org/..." class="button ghost" target="_blank">{{ i18n "old-version-library" }}</a>
            <a href="https://download.kde.org/stable/..." class="button ghost" target="_blank">{{ i18n "windows-32-bit-version" }}</a>
        </div>
    </div -->

    <div class="row">
        <div class="col-md-6">
            <h2>{{ i18n "get-in-linux-distros" }}</h2>
            <p>{{ i18n "get-in-linux-distros-description" }}</p>
            <a href="https://repology.org/project/kexi/versions" class="button ghost" target="_blank">{{ i18n "get-in-linux-repology" }}</a>
        </div>

        <div class="col-md-6">
            <h2>{{ i18n "gpg-signatures" }}</h2>
            <p>{{ $desc := i18n "gpg-signatures-description" }}
            {{ printf $desc "<a class='download-signature'><svg width='22' height='22'><use href='images/signature.svg#layer1'></use></svg></a>" | safeHTML }}</p>
        </div>
    </div>
</div>

{{ .Content }}

{{ end }}
