{{ define "main" }}

<div class="features-homepage-image">
        <div class="container-padding slim-her-title-container">
            <div class="slim-hero-title">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    <!-- div class="container-padding">
        <span class="features-hero-content">
            <ul>
                <li>{{ i18n "slogan-line1" }}</li>
                <li>{{ i18n "slogan-line2" }}</li>
                <li>{{ i18n "slogan-line3" }}</li>
            </ul>
        </span>
    </div -->
</div>

<div class="container-padding-header">
    <h2>{{ i18n "clean-interface" }}</h2>
</div>

<p>
    <a href="images/pages/kexi-3.0-table-view.webp"><img class="clean-interface-image" /></a>
</p>

<div class="container-padding top-1">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <p>{{ i18n "an-intuitive-interface" }}</p>
            <!-- TODO a href="https://....html" class="ghost button">{{ i18n "learn-the-interface" }}</a -->
        </div>
        <div class="col-md-5">
            <ul class="intuitive-interface">
                <li>{{ i18n "intuitive-interface-feature1" }}</li>
                <li>{{ i18n "intuitive-interface-feature2" }}</li>
                <li>{{ i18n "intuitive-interface-feature3" }}</li>
            </ul>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<div class="container-padding top-1">
    <div class="row">
        <div class="col-md-4 feature-section">
            <a href="images/pages/kexi-3.2-table-designer.webp"><img src="images/pages/kexi-3.2-table-designer_crop.webp" /></a>
            <h3>{{ i18n "feature-table-designer" }}</h3>
            <p>{{ i18n "feature-table-designer-description" }}</p>
            <!-- <a href="https://...html" class="ghost button">{{ i18n "learn-more" }}</a> -->
        </div>
        <div class="col-md-4 feature-section">
            <a href="images/pages/kexi-3.1-query-designer.webp"><img src="images/pages/kexi-3.1-query-designer_crop.webp" /></a>
            <h3>{{ i18n "feature-query-designer" }}</h3>
            <p>{{ i18n "feature-query-designer-description" }}</p>
            <!-- <a href="https://...html" class="ghost button">{{ i18n "learn-more" }}</a> -->
        </div>
        <div class="col-md-4 feature-section">
            <a href="images/pages/kexi-3.1-sql-editor.webp"><img src="images/pages/kexi-3.1-sql-editor_crop.webp" /></a>
            <h3>{{ i18n "feature-sql-editor" }}</h3>
            <p>{{ i18n "feature-sql-editor-description" }}</p>
            <!-- <a href="https://....html" class="ghost button">{{ i18n "learn-more" }}</a> -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 feature-section">
            <a href="images/pages/kexi-3.2-form-designer.webp"><img src="images/pages/kexi-3.2-form-designer_crop.webp" /></a>
            <h3>{{ i18n "feature-form-designer" }}</h3>
            <p>{{ i18n "feature-form-designer-description" }}</p>
            <!-- <a href="https://....html" class="ghost button">{{ i18n "learn-more" }}</a> -->
        </div>
        <div class="col-md-4 feature-section">
            <a href="images/pages/kexi-3.1-report-designer.webp"><img src="images/pages/kexi-3.1-report-designer_crop.webp" /></a>
            <h3>{{ i18n "feature-report-designer" }}</h3>
            <p>{{ i18n "feature-report-designer-description" }}</p>
            <!-- <a href="https://....html" class="ghost button">{{ i18n "learn-more" }}</a> -->
        </div>
        <div class="col-md-4 feature-section">
            <a href="images/pages/kexi-3.2-user-mode.webp"><img src="images/pages/kexi-3.2-user-mode_crop.webp" /></a>
            <h3>{{ i18n "user-mode" }}</h3>
            <p>{{ i18n "user-mode-description" }}</p>
            <!-- <a href="https://....html" class="ghost button">{{ i18n "learn-more" }}</a> -->
        </div>
    </div>
</div> <!-- end the content padding section-->

<div class="dark">
    <div class="container-padding">
        <h2>{{ i18n "features-choose-your-data-scale" }}</h2>
        <div class="row spacer choose-your-data-scale">
            <div class="col-md-12 feature-section">
            <span>
                <svg class="icon" viewBox="0 0 24 24">
                    <use href="images/pages/file-database.svg#layer1"></use>
                </svg> ~ <svg class="icon" viewBox="0 0 24 24">
                    <use href="images/pages/network-server-database.svg#layer1"></use>
                </svg>
            </span>
            </div>
        </div>

      <div class="row">
        <div class="col-md-4 feature-section db-column">
            <p class="db-column"><span>
            <svg viewBox="0 0 361 247">
                <use href="images/pages/sqlite-logo.svg#layer1"></use>
            </svg>
            </span>
            {{ i18n "feature-sqlite-description" }}</p>
        </div>
        <div class="col-md-4 feature-section">
            <p class="db-column"><span>
            <svg viewBox="0 0 361 247">
                <use href="images/pages/mysql-logo.svg#layer1"></use>
            </svg>
            </span>
            {{ i18n "feature-mysql-description" }}</p>
        </div>
        <div class="col-md-4 feature-section">
            <p class="db-column"><span>
            <svg viewBox="0 0 361 247">
                <use href="images/pages/postgresql-logo.svg#layer1"></use>
            </svg>
            </span>
            {{ i18n "feature-postgresql-description" }}</p>
        </div>
    </div>
  </div>
</div>

<div class="row feature-msaccess">
    <div class="col-md-12">
        <h2>{{ i18n "feature-msaccess" }}</h2>
        <span>
            <span class="font">
                <svg class="icon" viewBox="0 0 88 88">
                    <use href="images/pages/kexi-logo.svg#layer1"></use>
                </svg> ~ <svg class="icon" viewBox="0 0 88 88">
                    <use href="images/pages/msaccess-logo.svg#layer1"></use>
                </svg>
            </span>
            <a href="images/pages/kexi-3.2-mdb-import.webp">
                <img src="images/pages/kexi-3.2-mdb-import_crop.webp"/>
            </a>
            <p class="feature-msaccess-description">{{ i18n "feature-msaccess-description" }}</p>
        </span>
    </div>
</div>

<div class="dark row feature-data-migration">
    <div class="col-md-12">
        <h2>{{ i18n "feature-csv-migration" }}</h2>
        <span>
            <span class="font">
                <svg class="icon" viewBox="0 0 88 88">
                    <use href="images/pages/kexi-logo.svg#layer1"></use>
                </svg> ~ <svg class="icon" viewBox="0 0 88 88" style="margin-left:-10px;">
                    <use href="images/pages/csv-icon.svg#layer1"></use>
                </svg>
            </span>
            <span class="csv">
                <svg viewBox="0 0 200 131"><use href="images/pages/csv-data.svg#layer1"></use></svg>
                <a href="images/pages/kexi-3.2-csv-import.webp"><img src="images/pages/kexi-3.2-csv-import_crop.webp"/></a>
                <div class="feature-csv-import">{{ i18n "feature-csv-migration-description" | safeHTML }}</div>
                <svg class="bottom" viewBox="0 0 200 169"><use href="images/pages/csv-data2.svg#layer1"></use></svg>
                <a class="bottom" href="images/pages/kexi-3.2-csv-export.webp"><img src="images/pages/kexi-3.2-csv-export.webp"/></a>
            </span>
        </span>
    </div>
</div>

<div class="container-padding">
    <h2>{{ i18n "even-more-migration" }}</h2>
    <div class="row" >
        <div class="col-md-1">
        </div>
        <div class="col-md-5 feature-section">
            <h3>{{ i18n "from-mysql-to-files" }}</h3>
            <p>{{ i18n "from-mysql-to-files-description" }}</p>
        </div>
        <div class="col-md-5 feature-section">
            <h3>{{ i18n "from-files-to-mysql" }}</h3>
            <p>{{ i18n "from-files-to-mysql-description" }}</p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="row col-md-12 all-of-this-for-free">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <h2>{{ i18n "all-of-this-for-free" }}</h2>
        <p class="infinity">
            <svg class="icon" viewBox="0 0 102 40"><use href="images/pages/infinite.svg#layer1"></use></svg>
        </p>
        <p class="description">{{ i18n "all-of-this-for-free-description" }}</p>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row col-md-12 all-of-this-for-free">
    <div class="col-md-3">
    </div>
    <div class="col-md-3 download">
        <a href="/{{ .Site.Language.Lang }}/download" class="button">{{ i18n "download-kexi" }}</a>
    </div>
    <div class="col-md-3 license">
        <div>
            <a href="{{ relLangURL "/about/license" }}" >{{ i18n "free-opensource-button" }}</a>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

<!-- TODO
Cross-platform Nature

KEXI leverages KDE and Office features for an enhanced user experience. It does not require the KDE desktop and can be used with GNOME or XFCE. The application is available on multiple operating systems and is optimized for speed and usability through the Qt framework, without relying on Java, .NET or web browsers.
-->
</div>

{{ .Content }}

{{ end }}
