{{ define "main" }}

<div class="container">
  <h1 class="my-4">{{ .Title }}</h1>
  <hr/>

  <div class="row"> 
    {{ range (.Paginator 12).Pages  }}

      {{ if not .Params.hidden }}
        {{ partial "post_item.html" (dict "item" . "classes" "col-md-4") }}
      {{ end }}     

    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
</div>

{{ end }}
