{{ define "main" }}
<div class="post">
    <h1>{{ .Title | safeHTML }}</h1>

    <div style="text-align: center; margin-bottom: 4rem;">

        {{ if .Page.Prev }}
        <a class="link-reverse" href="{{ .Page.Prev.Permalink }}?ref=footer">&larr; {{ i18n "previous-post" }}</a>
        {{ end }}

        <span class="light-color">|</span>

        <span class="light-color">{{ partial "i18n_date.html" . }}</span>
        <span class="light-color">|</span>
        <span class="light-color"> {{ i18n "reading-time" }}<em> {{ i18n "minutes" . }}</em></span>

        <span class="light-color">|</span>

        {{ if .Page.Next }}
        <a class="link-reverse" href="{{ .Page.Next.Permalink }}?ref=footer">{{ i18n "next-post" }} &rarr;</a>
        {{ end }}


    </div>

    {{ .Content }}

    {{ partial "support-kexi-callout.html" . }}
</div>
{{ end }}
