{{ $footer := resources.Get "js/footer.js" }}
{{ $js := slice $footer | resources.Concat "js/main.js" }}
{{ if hugo.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js = $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>
{{ end }}
