{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<ul class="navbar-nav col">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span>{{ .Name }}</span>
        </a>
        <div class="dropdown-menu">
          {{ range .Children }}
            <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} dropdown-item"
               href="{{ .URL | relLangURL }}">{{ .Name }}
            </a>
          {{ end }}
        </div>
      </li>
    {{ else }}
      <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
        <a class="nav-link" href="{{ .URL | relLangURL }}" target="{{ cond (eq .Params.isExternal true) "_blank" "_self" }}">
          <span>{{ .Name }}{{ cond (eq .Params.isExternal true) "<span style=\"opacity:0.5\">⬈</span>" "" | safeHTML }}</span>
          {{ with .Params.isExternal }}{{ end }}
        </a>
      </li>
    {{ end }}
  {{ end }}
  <li class="nav-item donate-button">
    <a href="{{ relLangURL "/donations" }}" class="button">♡ {{ i18n "donate" }}</a>
  </li>
</ul>
