<div class="sponsor-item">
    <div class="image-container" style="background-color: var(--light-color);">
        <img src="{{ .Get "imageUrl" }}" alt="{{ .Get "alt" }}" />
    </div>

    <label>{{ .Inner  | markdownify }}</label>
</div>
